.title {
    color: #3B444B;
}

.subtitle {
    color: #4C565F;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
}

.attach_user_hotel_section .users_container > ul,
.attach_user_hotel_section .attach_user_hotel_grid > ul {
    list-style: none;
    padding: 5px 10px;
    background-color: var(--white);
}

.attach_user_hotel_section .users_container > ul li,
.attach_user_hotel_section .attach_user_hotel_grid > ul li {
    padding: 5px 15px;
    margin: 5px 0px;
    cursor: pointer;
}

.attach_user_hotel_section .users_container > ul li {
    border-radius: 5px;
    border: 0.5px solid rgb(188, 188, 188);
}

.attach_user_hotel_section .users_container > ul li:hover {
    background-color: rgb(210, 255, 251);
}

.attach_user_hotel_section .attach_user_hotel_grid {
    display: grid;
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: var(--white);;
    grid-template-columns: 33% 33% 33%;
}

.attach_user_hotel_section .attach_user_hotel_grid .user_into_hotel {
    list-style: none;
    padding: 5px 0px;;
    background-color: var(--white);
}

.dragEl {
    
}

@media screen and (max-width: 1000px) {
    .attach_user_hotel_grid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 700px) {
    .attach_user_hotel_grid {
        grid-template-columns: 50% 50%;
    }
}