.btn_back_container {
    margin: 20px 0px 0px 0px;
}

.btn_back_container button {
    margin: 0px;
}

.room_card {
    width: 10rem;
    height: 6rem;
    position: relative;
    border-radius: 10px;
    justify-content: center;
}

.room_card p {
    left: 50%;
    font-size: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.room_card p:first-child {
    top: 20%;
    font-size: 14px;
    font-weight: 600;
}

.room_card p:last-child {
    top: 50%;
}