.container {
    display: flex;
    position: relative;
}

.btn_container {
    position: fixed;
    right: 20px;
    top: 5rem;
    z-index: 1;
}

.rooms_home_admin > button {
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 1rem 15px;
    transition: all 0.2s;
    margin: 5rem 0px 0px;
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.rooms_container {
    padding: 1rem;
    margin: 1.5rem 0rem;
    border-radius: 5px;
    background-color: var(--white);
}

.text_container {
    position: relative;
}

.rooms_title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.date {
    top: -10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
}

.overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
}

.overlay_active {
    display: block;
    z-index: 2;
}

/* Room Card */
.container_room_cards {
    display: inline-block;
    position: relative;
}

.floor_title {
    font-size: 12px;
    font-weight: 600;
}

.room_card {
    width: 7rem;
    height: 4rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    margin: 0px 1rem 1rem 0px;
}

.room_card_selected {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.room_card:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.room_last_status_card {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
}

.room_text_container {
    top: 50%;
    left: 50%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
}

.room_text_container > p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 5px 0px;
}

.room_text_container > p:last-of-type {
    font-size: 11px;
}

.card_info {
    width: 130%;
    left: 0;
    top: 80%;
    z-index: 1;
    display: none;
    padding: 0px 10px;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(231, 233, 255);
}

.card_info_show {
    display: block !important;
}

.card_info h5 {
    margin: 15px 0px;
}

.card_info p {
    font-size: 13px;
}

.card_info:hover {
    background-color: #DBF2FF;
}

.room_settings {
    width: 200px;
    top: 5rem;
    left: 0;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    display: none;
    cursor: default;
    z-index: 3;
    outline-style: none;
}

.room_settings_displayed {
    display: block !important;
}

.btn_close {
    width: 4px;
    height: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 0.3rem !important;
    background-color: rgb(255, 255, 255) !important;
    border: 0.5px solid rgb(207, 207, 207) !important;
}

.btn_close:hover {
    background-color: rgb(241, 241, 241) !important;
}

.svg_icon {
    width: 0.8rem;
    height: 0.8rem;
    /* background-color: var(--landing_page_text); */
    padding: 0px;
    margin: 0px;
}

.text_info {
    display: flex;
    align-items: center;
}

.text_info p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 119, 255);
    font-family: 'Raleway', sans-serif;
}

.svg_icon_arrow {
    width: 40px;
    height: 40px;
    color: var(--landing_page_text);
    margin: 0px 10px 0px 0px;
}

.room_settings > form > h5 {
    padding: 1rem 2rem;
    margin: 0px;
}

.room_settings > form > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.room_settings > form > ul > li {
    padding: 0.4rem 1rem;
    margin: 0px 0.5rem;
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    grid-template-columns:  70% auto;
    cursor: pointer;
}

/* .room_settings > form > ul > li:hover {
    background-color: #E9E9E9;
} */
.selected {
    display: none;
    background-color: #E6E5FF;
}

.room_settings > form > ul > li > p {
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.room_settings > form > ul > li > p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px !important;
    font-weight: 200 !important;
}

.room_settings > form > ul > li > p:last-of-type {
    font-size: 8px;
    font-weight: 600;
}

.room_settings > form > ul > .li_selected:hover {
    background-color: #E9E9E9;
}

.actual_status {
    background-color: #DBF2FF;
}

.last_status {
    background-color: #E6E5FF;
}

.room_settings > form > .btn_details,
.room_settings > form > .btn_submit,
.room_settings > form > .btn_close {
    border: none;
    padding: 0.3rem 1.5rem;
    margin: 0.5rem auto 0.8rem auto;
    display: block;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    height: 1.5rem;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

.room_settings > form > .btn_submit {
    color: white;
    background-color: var(--btn-submit);
}

.btn_submit:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: var(--btn-submit-hover);
}

.room_card:hover ~ .user_data_container {
    width: 100%;
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 5px;
    /* z-index: 1; */
    padding: 1rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    /* background-color: rgb(182, 206, 212); */
    background-color: rgb(196, 217, 223);
}

/* User Container */
.user_data_container {
    display: none;
}

.user_data_container > h5 {
    text-align: center;
    margin: 0px;
}

.user_data {
    width: 100%;
    margin: 1rem 0rem;
}

.user_data > label {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.user_data > input {
    width: 85%;
    /* background-color: red; */
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(196, 217, 223);
}

@media screen and (max-width: 700px) {
    .room_card {
        width: 90px;
    }
}