.ubication_contact {
    margin: -5px auto 64px auto;
    padding-top: 64px;
    position: relative;
}

.ubication_contact h2 {
    font-size: 42.50pt;
    font-weight: 400;
    text-align: center;
    margin: 64px auto 30px;
    color: var(--main-color);
    font-family: 'Playfair Display';
}

.ubication_contact .texture_top_image {
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    position: absolute;
}

.ubication_contact .symbol {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
}

.ubication_contact p {
    width: 50%;
    font-weight: 100;
    line-height: 1.5;
    margin: 40px auto;
    text-align: center;
    font-size: 17.69pt;
    color: var(--text-p);
}

/* ====  Ubication ==== */
.ubication_container .svg_ubication_icon {
    width: 6rem;
    height: 6rem;
    margin: auto;
    display: block;
    color: var(--main-color);
}

.ubication_container iframe {
    width: 100%;
    margin: 5% auto;
}