.who_we_are {
    margin: -5px auto 64px auto;
    padding-top: 64px;
    position: relative;
}

.who_we_are h2 {
    font-size: 42.50pt;
    font-weight: 400;
    text-align: center;
    margin: 64px auto 30px;
    color: var(--main-color);
    font-family: 'Playfair Display';
}

.who_we_are .texture_top_image {
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    position: absolute;
}

.who_we_are .symbol {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
}

.who_we_are p {
    width: 50%;
    font-weight: 100;
    line-height: 1.5;
    margin: 40px auto;
    text-align: center;
    font-size: 17.69pt;
    color: var(--text-p);
}

/* ==== MISION AND VISION ==== */

/* MISION */
.mision_container {
    margin: 64px auto;
    display: inline-flex;
}

.mision_container,
.vision_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.vision_container {
    display: grid;
    margin: 15% auto;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-mision-vision-text);
}

.mision_container .text_container {
    top: 50%;
    left: 35%;
    z-index: 1;
    min-width: auto;
    max-width: 40%;
    max-height: 80%;
    min-height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--background-mision-vision-text);
}

.mision_container .text_container h5,
.vision_container .text_container h5 {
    font-weight: 400;
    font-size: 42.18pt;
    text-align: center;
    color: var(--main-color);
    font-family: 'Playfair Display';
}

.mision_container .text_container h5 {
    margin: 8% auto 15px;
}

.mision_container .text_container .line,
.vision_container .text_container .line {
    height: 2px;
    margin: auto;
    width: 19.1728px;
    background-color: var(--title-line);
}

.mision_container .text_container .text,
.vision_container .text_container .text {
    font-weight: 200;
    font-size: 12.34pt;
}

.mision_container .text_container .text {
    margin: 2% auto 60px;
}

.mision_container .lobby {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    margin: 0px 0px 0px auto;
}

.vision_container .text_container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px auto;
}

.vision_container .text_subcontainer {
    margin: 0px 0px 0px auto;
    width: 100%;
}

.vision_container .text_container .text_subcontainer h5 {
    margin: 5% auto 15px;
}

.vision_container .text_container .text {
    text-align: center;
    margin: 2% auto 60px;
}

.vision_container .lobby {
    top: 49%;
    left: 35%;
    z-index: 1;
    height: auto;
    max-width: 50%;
    min-width: auto;
    margin: 0px auto;
    object-fit: cover;
    position: absolute;
    object-position: 0px;
    transform: translate(-50%, -50%);
}