.who_we_are {
    position: relative;
    padding: 64px 0px 0px;
    margin: -5px auto 64px auto;
}

.who_we_are h2 {
    font-weight: 400;
    font-size: 42.50pt;
    text-align: center;
    margin: 64px auto 30px;
    color: var(--main-color-demo-1);
    font-family: 'Playfair Display';
}

.who_we_are .texture_top_image {
    top: 0;
    right: 0;
    width: 30%;
    z-index: -1;
    height: auto;
    position: absolute;
}

.who_we_are .symbol {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
}

.who_we_are p {
    width: 50%;
    font-weight: 100;
    line-height: 1.5;
    margin: 40px auto;
    text-align: center;
    font-size: 17.69pt;
    color: var(--text-p);
}

/* ==== MISION AND VISION ==== */

/* MISION */
.mision_container {
    margin: 64px auto;
    display: inline-flex;
}

.mision_container,
.vision_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.vision_container {
    margin: 15% auto;
    background-color: var(--background-mision-vision-text);
}

.mision_container .text_container {
    top: 50%;
    left: 35%;
    z-index: 1;
    max-width: 40%;
    min-width: auto;
    min-height: auto;
    position: absolute;
    transition: all 1s;
    transform: translate(-50%, -50%);
    background-color: var(--background-mision-vision-text);
}

.mision_container .text_container h5,
.vision_container .text_container h5 {
    font-weight: 400;
    font-size: 42.18pt;
    text-align: center;
    color: var(--main-color-demo-1);
    font-family: 'Playfair Display';
}

.mision_container .text_container h5 {
    margin: 8% auto 15px;
}

.mision_container .text_container .line,
.vision_container .text_container .line {
    height: 2px;
    margin: auto;
    width: 19.1728px;
    background-color: var(--title-line);
}

.mision_container .text_container .text,
.vision_container .text_container .text {
    font-weight: 200;
    font-size: 12.34pt;
}

.mision_container .text_container .text {
    margin: 2% auto 60px;
}

.mision_container .lobby {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    transition: all 1s;
    margin: 0px 0px 0px auto;
    transform: translateX(0%);
}

.vision_container .text_container {
    width: 50%;
    padding: 20px;
    margin-left: auto;
    transition: all 1s;
    transform: translate(0%, 0%);
}

.vision_container .text_subcontainer {
    margin: 0px 0px 0px auto;
    width: 100%;
}

.vision_container .text_container .text_subcontainer h5 {
    margin: 5% auto 15px;
}

.vision_container .text_container .text {
    text-align: center;
    margin: 2% auto 60px;
}

.vision_container .lobby {
    top: 49%;
    left: 35%;
    z-index: 1;
    height: auto;
    max-width: 50%;
    min-width: auto;
    margin: 0px auto;
    object-fit: cover;
    transition: all 1s;
    position: absolute;
    object-position: 0px;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1020px) {
    .mision_container {
        margin: 15% auto 30%;
    }

    .mision_container .lobby {
        width: 100%;
    }

    .mision_container .text_container {
        left: 50%;
        top: 100%;
        margin: 120px 0px 0px;
        min-width: 90% !important;
        box-shadow: 0px 0px 40px -10px rgb(95, 95, 95);
    }

    .vision_container {
        display: block;
        position: static;
        margin: 30% auto 15%;
    }

    .vision_container .lobby {
        min-width: 100%;
        transform: none;
        position: static;
    }

    .vision_container .text_container {
        width: 50%;
        min-width: 90%;
        position: sticky;
        margin: -5% auto 0px !important;
        box-shadow: 0px 0px 40px -10px rgb(95, 95, 95);
        background-color: var(--background-mision-vision-text);
    }
}

/* @media screen and (max-width: 1000px) {
    .mision_container {
        margin: 15% auto 100px;
    }
} */

@media screen and (max-width: 800px) {
    .who_we_are h2 {
        width: 80%;
    }

    .who_we_are p {
        width: 80%;
        line-height: 1.8;
    }
}

@media screen and (max-width: 550px) {
    .mision_container {
        margin: 15% auto 40%;
    }

    .vision_container {
        display: block;
        position: static;
        margin: 50% auto 15%;
    }
}