.services {
    margin: -5px auto 64px auto;
    padding-top: 64px;
    position: relative;
}

.services h2 {
    font-size: 42.50pt;
    font-weight: 400;
    text-align: center;
    margin: 64px auto 30px;
    color: var(--main-color-demo-1);
    font-family: 'Playfair Display';
}

.services .texture_top_image {
    top: 0;
    right: 0;
    width: 30%;
    z-index: -1;
    height: auto;
    position: absolute;
}

.services .symbol {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
}

.services .services_container_1,
.services .services_container_2 {
    align-items: center;
    text-align: center;
}

.services .services_container_1 {
    width: 70%;
    display: grid;
    margin: 6% auto;
    grid-template-columns: repeat(3, 1fr);
}

.services .services_container_2 {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services .services_container_1 img,
.services .services_container_2 img {
    object-fit: cover;
}

.services .services_container .service_content p {
    padding: 0px 5%;
    font-size: 12.84pt;
    text-align: center;
    margin: 0px;
}

@media screen and (max-width: 1200px) {
    .services .services_container_1 {
        width: 90%;
    }
    
    .services .services_container_2 {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .services .services_container_1,
    .services .services_container_2 {
       display: block;
    }
    
    .services .services_container_1 img,
    .services .services_container_2 img {
        margin: 8% auto;
    }
}