.btn_modal_submit {
    outline: none;
    border: none;
    box-shadow: none;
    width: 15rem;
    height: 40px;
    background-color: var(--btn-submit);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    margin: 3rem auto;
    display: block;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_modal_submit:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: var(--btn-submit-hover);
}

/* Loader */
.loader {
    border: 0.3rem solid #f3f3f3; /* Light grey */
    border-top: 0.3rem solid #00ffff; /* Blue */
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }