.input {
    margin: 5px 0px;
}

.input > label {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    color: var(--input-text-color);
    font-family: 'Montserrat', sans-serif;
}

.input > input {
    outline: none;
    border: none;
    height: 2.2rem;
    padding: 0rem 0.8rem;
    color: var(--input-text-color);
    width: 80%;
    margin: 5px 0px 0px;
    border: none;
}

.input_text_error {
    border: 1px solid red !important;
}

@media screen and (max-width: 700px) {
    .input > input {
        width: 90%;
    }
}