.overlay_content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 40%;
    height: auto;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000 !important;
}

.image {
    width: 5rem;
    height: 4rem;
    margin: auto;
    display: block;
}

.overlay_content input {
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.overlay_content > p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    margin:1rem 0px -5px;
}

.overlay_content > p:last-of-type {
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    line-height: 26px;
}

.overlay_content .container {
    display: flex;
}

.overlay_content .container > button {
    margin: 1rem 0px;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 7rem;
    height: 2.5rem;
    cursor: pointer;
}

.overlay_content .container > button:hover {
    font-weight: bold;
}

.overlay_content .container > .btn_accept {
    background-color: var(--btn-successful);
}

.overlay_content .container > .btn_warning {
    background-color: var(--btn-warning);
}

.overlay_content .container > .btn_warning:hover {
    background-color: var(--btn-warning-hover);
}

.overlay_content .container > .btn_danger {
    background-color: var(--btn-danger);
}

.overlay_content .container > .btn_danger:hover {
    background-color: var(--btn-danger-hover);
}

.overlay_content .container > .btn_accept > p {
    color: var(--white);
}

.overlay_content .container > .btn_accept:hover {
    background-color: var(--btn-successful-hover);
}

.overlay_content .container > .btn_cancel {
    color: var(--text);
}

@media screen and (max-width: 700px) {
    .overlay_content {
        width: 90%;
    }
}