.loader_content .loader {
    border-radius: 50%;
    border: 4px solid var(--loader-color);
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    animation: loading 2s ease-in infinite;
}

.loader_content .loader::after {
    content: '';
    border-radius: 50%;
    border: 2px solid var(--loader-color);
    background-color: none;
    position: absolute;
    animation: loading 1s ease-in infinite;
    animation-delay: 100ms;
}

.loader_content p {
    position: absolute;
    left: 50%;
    top: 60%;
    margin: auto;
    transform: translate(-50%, -50%);
    color: var(--white);
    animation: loading_text 2s infinite reverse;
}

@keyframes loading {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

@keyframes loading_text {
    0% {
        font-weight: 400;
    }
    100% {
        font-weight: 600;
    }
}