.select_date_container {
    z-index: 1;
    height: auto;
    position: relative;
    background-color: black !important;
}

.select_date {
    padding: 1.5rem 0px;
}

.select_date .text_data {
    width: 80%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}

.select_date .text_data p {
    font-size: 16px;
    margin: 10px auto;
    color: #dda900;
    font-weight: bold;
    text-align: center;
}

.select_date > button {
    top: 20px;
    right: 10px;
    box-shadow: none;
    position: absolute;
    border: 0.01px solid #979797;
    background-color: var(--white);
}

.select_date > button:hover {
    box-shadow: none;
    background-color: #e4e4e4 !important;
}

/* */
.select_date_content {
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
}

/* */
.date_content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    padding: 0px 50px;
    position: relative !important;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.date_content p {
    font-size: 16px !important;
    text-align: center;
    margin: 0px auto !important;
}

.days_content,
.days_of_month_content {
    width: 250px;
    margin: auto;
}

.days_content .btn_add,
.days_content .btn_rest {
    position: absolute;
    border: 0.5px solid #c5c5c5;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--white);
    cursor: pointer;
    top: 15px;
}

.days_content .btn_add {
    left: 7%;
}

.days_content .btn_add:hover {
    background-color: aliceblue;
}

.days_content .btn_rest {
    right: 7%;
}

.days_content .btn_rest:hover {
    background-color: aliceblue;
}

.days_content ul {
    width: 250px;
    list-style: none;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days_content ul li {
    color: #b8b8b8;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.days_of_month_content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px 15px;
}

.date_content .days_of_month_content .btn_date {
    border: none;
    width: 2rem;
    height: 2rem;
    margin: auto;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
}

.date_content .days_of_month_content .btn_date:hover {
    background-color: #f7eaa2;
    border-radius: 5px;
}

.date_content .days_of_month_content .btn_disabled {
    border: none;
    background-color: transparent;
}

.selected {
    background-color: #ecca08 !important;
}

.selected p {
    margin: 0px;
    color: white !important;
}

.booking_text {
    width: 80%;
    text-align: center;
    margin: 10px auto 25px !important;
    font-size: 12px !important;
}

.booking_text strong {
    font-size: 13px;
    font-style: italic;
}

.btn_booking {
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 600;
    padding: 0.7rem 2rem;
    margin: 20px auto 10px;
    background-color: #F9C81A;
    font-family: 'Poppins', sans-serif;
}

.breakfast_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breakfast_container label {
    font-size: 15px;
    margin: 5px 0px;
    font-weight: 600;
    color: var(--input-text);
    font-family: 'Montserrat', sans-serif;
}

.breakfast_container input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}

.breakfast_container > button {
    /* border: 0.2px solid #c9c9c9; */
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background: transparent;
    margin: 0px 0px 0px 10px;
}

.breakfast_container > button:hover {
    border: none;
    background:#d8d8d8 !important;
}

.breakfast_container > button .svg_icon {
    width: 1rem;
    height: 1rem;
}

.breakfast_container > .breakfast_rules {
    right: 0;
    top: 35%;
    width: 50%;
    height: auto;
    display: none;
    padding: 5px 15px 15px;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 5px rgba(177, 177, 177, 0.1);
}

.show_breakfast_rules {
    display: block !important;
}

.breakfast_container > .breakfast_rules h5 {
    text-align: center;
}

.breakfast_container > .breakfast_rules p {
    width: 90%;
    font-size: 14px;
    margin: 10px 0px;
    text-align: left;
}

@media screen and (max-width: 850px) {
    .select_date_container {
        width: 100%;
        margin: 0px;
        border: none;
        padding: 0px;
    }
}