.container_login {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: hidden;
}

.container_login .form_container {
    display: flex;
    align-items: center;
}

.container_login .form_container form {
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
}

.container_login .form_container input {
    width: 95%;
}

.container_login .carrousel {
    position: relative;
    height: 100%;
}

.warningTitle {
    font-size: 15px;
    color: rgb(151, 10, 10);
    margin: 0px;
    font-weight: 600;
}

.warning_text {
    font-size: 14px;
    color: red;
    margin: -5px 0rem 1rem 0rem;
}

.get_account {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

.get_account strong{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .container_login {
        grid-template-columns: 100% !important;
    }

    .container_login .form_container input {
        width: 100%;
    }

    .container_login .form_container form {
        padding: 1rem 3rem 1rem 1rem;
    }

    .carrousel {
        display: none;
    }
}