.notification {
    width: 60%;
    display: grid;
    grid-template-columns: auto 4.5rem;
    border-radius: 5px;
    background-color: var(--notif-warning);
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.notification .notification_info {
    display: grid;
    grid-template-columns: 5rem auto;
    padding: 1rem;
    align-items: center;
}

.notification svg {
    width: 2rem;
    height: 2rem;
}

.notification svg,
.notification .notification_info p {
    color: var(--text) !important;
}

.notification .notification_info p {
    margin: 0px;
    width: 90%;
}

.notification .notification_info p:first-of-type {
    font-size: 15px;
    font-weight: 600;
}

.notification .notification_info p:last-of-type {
    font-size: 12px;
    margin-top: -10px;
}

.notification > button {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    background-color: var(--notif-warning-btn);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.notification > button:hover {
    cursor: pointer;
    background-color: var(--white);
}

.notification > button:hover svg {
    color: var(--input-text-color) !important;
    transition: all 0.3s;
}

@media screen and (max-width: 800px) {
    .notification {
        width: 100%;
        top: 0;
        right: 0;
    }
}
