.who_we_are {
    margin: -5px auto 64px auto;
    padding-top: 64px;
    position: relative;
}

.who_we_are h2 {
    font-size: 42.50pt;
    font-weight: 400;
    text-align: center;
    margin: 64px auto 30px;
    color: var(--main-color);
    font-family: 'Playfair Display';
}

.who_we_are .texture_top_image {
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    position: absolute;
}

.who_we_are .symbol {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
}

.who_we_are p {
    width: 50%;
    font-weight: 100;
    line-height: 1.5;
    margin: 40px auto;
    text-align: center;
    font-size: 17.69pt;
    color: var(--text-p);
}

/* ==== ROOMS ==== */

/* SIMPLE, DOUBLE AND SUIT ROOMS */
.simple_room_container {
    margin: 64px auto;
    display: inline-flex;
}

.simple_room_container,
.double_room_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.double_room_container {
    display: grid;
    margin: 10% auto;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-mision-vision-text);
}

.simple_room_container .text_container {
    top: 50%;
    left: 35%;
    width: 40%;
    z-index: 1;
    height: 76%;
    display: flex;
    position: absolute;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: var(--background-mision-vision-text);
}

.simple_room_container .text_container .text {
    width: 75%;
    height: auto;
}

.simple_room_container .text_container h5,
.double_room_container .text_container h5 {
    font-weight: 400;
    text-align: right;
    font-size: 42.18pt;
    color: var(--main-color);
    font-family: 'Playfair Display';
}

.simple_room_container .text_container h5 {
    color: var(--black);
    margin: 0px auto;
}

.simple_room_container .text_container h5:last-of-type {
    color: var(--main-color);
}

.simple_room_container .text_container .line,
.double_room_container .text_container .line {
    height: 2px;
    margin: auto;
    background-color: var(--title-line);
}

.simple_room_container .text_container .line {
    top: 70%;
    left: -40%;
    z-index: 1;
    display: block;
    width: 19.1728px;
    position: absolute;
    width: 110% !important;
    background-color: var(--title-line);
}

.simple_room_container .text_container .text,
.double_room_container .text_container .text {
    font-weight: 200;
    font-size: 12.34pt;
}

.simple_room_container .text_container .text {
    margin: 2% auto 60px;
}

.simple_room_container .simple_room_image {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    margin: 0px 0px 0px auto;
}

.double_room_container .text_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 4% 0px 10px auto;
}

.double_room_container .text_subcontainer {
    width: 100%;
    margin: 10% 0px 10% auto;
}

.double_room_container .text_container .text_subcontainer h5 {
    text-align: left;
    margin: 0px auto;
    color: var(--black);
}

.double_room_container .text_container .text_subcontainer h5:last-of-type {
    color: var(--main-color);
}

.double_room_container .text_container .text {
    width: 80%;
    margin-left: auto;
}

.double_room_container .text_container .line {
    z-index: 1;
    display: block;
    width: 19.1728px;
    width: 70% !important;
    margin: 7% 0px 0px auto;
    background-color: var(--title-line);
}

.double_room_container .double_room_image {
    top: 49%;
    left: 35%;
    z-index: 1;
    height: auto;
    max-width: 45%;
    min-width: auto;
    margin: 0px auto;
    object-fit: cover;
    position: absolute;
    object-position: 0px;
    transform: translate(-50%, -50%);
}

.suite_room_container {
    overflow: hidden;
}

.suite_room_container .small_images {
    display: flex;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
}

.suite_room_container .current_image_container {
    width: 200%;
    /* opacity: 0.3; */
    display: flex;
    transition: all 0.3s;
    transform: translateX(-5%);
}

.suite_room_container .current_image_selected {
    margin: 10px 5px 0px;
    max-width: 20%;
    max-height: auto;
    opacity: 0.3;
}

.suite_room_container .small_images .small_image {
    width: 7rem;
    margin: 5px;
    height: 5rem;
    opacity: 0.3;
    cursor: pointer;
}

.selected {
    opacity: 1 !important;
}