.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .hotel_face {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
    object-position: center;
}

.container .image_left,
.container .image_right {
    position: relative;
}

.container .logo_container {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container .logo {
    width: auto;
    height: 20vh;
    object-fit: cover;
    color: white !important;
    margin: 50px auto 20px auto;
}

.container .btn_hotel {
    margin: 50px auto 0px auto;
    padding: 0.6rem 2rem;
    font-size: 8.7pt;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    border: 0.5px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
}

.container .btn_hotel:hover {
    cursor: pointer;
    font-weight: 700;
    border: 0.5px solid rgb(255, 255, 255);
}

.container .btn_hotel::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    transition: all 0.5s;
    z-index: 0;
}

.container .btn_hotel:hover::before {
    background-color: #ffffff;
    width: 100%;
    transition: all 0.5s;
    z-index: 0;
}

.container .btn_hotel:hover span {
    color: black;
    transition: all 0.5s;
}

.container .btn_hotel span {
    z-index: 1;
    color: #ffffff;
    transition: all 0.5s;
}

@media screen and (max-width: 1200px) {
    .container .logo {
        height: 15vh;
    }
}

@media screen and (max-width: 850px) {
    .container {
        overflow: hidden;
    }

    .container .logo_container {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .container .logo {
        height: 12vh;
    }

    .container .image_left img {
        object-position: 85%;
    }
    .container .image_right img {
        object-position: 55%;
    }

    .container .hotel_face {
        width: 200%;
    }
}