.main_image_container {
    overflow: hidden !important;
}

.hotel_face {
    width: 100%;
    margin-top: 5rem;
    min-height: 80vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}

.hotel_face:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .hotel_face {
        height: 90%;
    }

    /* ==== All top images of modules of website ====  */
    /* Plaza Catedral */
    .image_facilities_catedral {
        object-position: 0%;
    }

    .image_services_catedral {
        object-position: 40%;
    }

    .image_ubication_and_contact_catedral {
        object-position: 25%;
    }

    /* Plaza Matamoros */
    .image_who_we_are_matamoros {
        object-position: 40% top;
    }

    .image_facilities_matamoros {
        object-position: 25%;
    }

    .image_ubication_and_contact_matamoros {
        object-position: 60%;
    }
}