.hotel_face {
    width: 100%;
    min-height: 80vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
}

.hotel_face_top {
    width: 100%;
    min-height: 80vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: top;
}