.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  height: 100vh;
}

.container span {
  font-size: 25px;
  margin: 20px;
}

.container span:hover {
  font-weight: 600;
  cursor: pointer;
}