.data_in_subtitle {
    font-weight: 400;
}

.container {
    display: flex;
    position: relative;
}

.btn_container {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
}

.department_section table {
    margin: 1rem 0px;
}

.department_section .data_table_not_found {
    margin: 25px 0px;
    font-size: 12px;
}